DEBUG=on
PARSER_DEBUG=on
DATABASE=mysql://root:ldap@db:3306/ldaplog_database
LOG_DATABASE=mysql://root:ldap@db:3306/ldaplog_database
AUTH_LDAP_SERVER=ldap://ldap3.eionet.europa.eu
AUTH_LDAP_DN=uid={username},ou=Users,o=EIONET,l=Europe
SECRET_KEY='secret'
